<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Vending Machine</title>
    
</head>
<body>
    <h1>Vending Machine</h1>
    <div id="vendingMachine">
        
        Money in my pocket: <button v-for="coin in coins" :disabled="insertingCoin" v-on:click="insertCoin(coin)">{{coin.name}}</button>
        <hr />
        Products: <button v-for="product in products" v-on:click="vend(product)">{{product.name}} - ${{product.price/100}}</button>
       

        <hr />
        <p>Display: {{display}}</p>
        <hr />
        <button v-on:click="refund">Refund</button>
        <p v-if="refundedCoins.length > 0">Refunded Coins</p>
        <ul>
            <li v-for="coin in refundedCoins">${{coin.value/100}}</li>
        </ul>
    </div>
    <script src="js/libs/fetch.js"></script>
    <!--Use CDN for this example app -->
    <script src="https://unpkg.com/vue"></script>
    <script src="js/vendingMachine.js"></script>
</body>
</html>